<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/quiz-night.png" alt="" />
  </div>
  <div class="headings">
    <h2>Quizzes</h2>
    <h3>Trivia Questions</h3>
    <a href="/quizzes" class="btn">View Quizes</a>
  </div>
</header>

<%- include('partials/footer'); -%>
