<%- include('partials/header'); -%>

<ul class="quizzes">
  <li class="quiz">
    <img src="/city-african.jpg" alt="quiz icon" />
    <h4>Kenya Safaris</h4>
    <p>Maasai Mara, Tsavo, Amboseli</p>
  </li>
  <li class="quiz">
    <img src="/europe-geography.jpg" alt="europe geography" />
    <h4>World Geography</h4>
    <p>Asia, Africa, Americas, Europe, Oceania</p>
  </li>
  <li class="quiz">
    <img src="/icon-quiz.png" alt="quiz icon" />
    <h4>General Trivia</h4>
    <p>Popular Culture, Countries, Geography</p>
  </li>
  <li class="quiz">
    <img src="/quiz-night.png" alt="quiz night" />
    <h4>Quiz Night</h4>
    <p>Popular Culture, Countries, Geography</p>
  </li>
  <li class="quiz">
    <img src="/zebras-savannah.jpg" alt="wild quiz" />
    <h4>Wild life</h4>
    <p>Tropics, Savannah, Water</p>
  </li>
  <li class="quiz">
    <img src="/smoothie.png" alt="smoothie quiz icon" />
    <h4>Protein Packer</h4>
    <p>Oats, Peanut butter, Milk, Banana, Blueberries</p>
  </li>
</ul>

<%- include('partials/footer'); -%>
